<aside class="nav">
  <div class="title">
    <h1>
      NG Reusables
    </h1>
    <h2>
      A demo application for reusable angular services and components
    </h2>
  </div>
  <nav class="navigation">
    <ol>
      <li><a href="#/loading-indicator/">Loading indicator</a></li>
      <li><a href="#/error-handler">Global error handler service</a></li>
      <li><a href="#/authorisation-handler">An authorisation handler directive</a></li>
    </ol>
  </nav>
</aside>
<section class="main">
  <router-outlet></router-outlet>
</section>

