<div *authorisation="'BIG_RED_BUTTON'; let hasOnlyReadAccess">
  The "hasOnlyReadAccess" method's return value: {{ hasOnlyReadAccess(false) }}
  <br />
  <button [disabled]="hasOnlyReadAccess(false)">BIG RED BUTTON</button>
</div>
<br />
<div #ngAuth *authorisation="'BIG_RED_BUTTON'; control formControl">
  <div>
    <label for="simpleControl">Simple FormControl bound using [formControl]</label>
    <input id="simpleControl" [formControl]="formControl" />
  </div>
</div>
<br />
<form #ngAuth *authorisation="'LAUNCH_CODE_INPUTS'; control launchCodesForm" [formGroup]="launchCodesForm">
  <label for="primary-high-ranking-officer">First officer access code:</label>
  <input id="primary-high-ranking-officer" formControlName="firstOfficerAccessCode" />

  <label for="secondary-high-ranking-officer">Second officer access code:</label>
  <input id="secondary-high-ranking-officer" formControlName="secondOfficerAccessCode" />
</form>
