:host {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
}

.selectors {
  display: flex;
  padding: 0;
}

.selectors li {
  list-style-type: none;
  margin: 5px;
}

.selectors__link {
  text-decoration: none;
  color: #7b1fa2;
}
