<section>
  <h1>Authorisation Showcase </h1>
  <div>
    <ul class="selectors">
      <li><a class="selectors__link" data-test-id="cy_spinner_link" href="#/loading-indicator/spinner">Spinner</a></li>
<!--      <li><a class="selectors__link" data-test-id="cy_ellipsis_link" href="#/loading-indicator/ellipsis">Ellipsis</a></li>-->
<!--      <li><a class="selectors__link" data-test-id="cy_message_link" href="#/loading-indicator/message">Custom message</a></li>-->
    </ul>
  </div>
</section>


<router-outlet></router-outlet>
