<section>
  <h1>Loading Indicator Showcase</h1>
  <div>
    <ul class="selectors">
      <li>
        <a class="selectors__link" data-test-id="cy_spinner_link" href="#/loading-indicator/spinner">Spinner</a>
      </li>
      <li>
        <a class="selectors__link" data-test-id="cy_ellipsis_link" href="#/loading-indicator/ellipsis">Ellipsis</a>
      </li>
      <li>
        <a class="selectors__link" data-test-id="cy_message_link" href="#/loading-indicator/message">Custom message</a>
      </li>
    </ul>
  </div>
</section>
<section>
  <label>
    Loading timer (ms):
    <input type="number" step="1000" [formControl]="control">
  </label>
  <br>
  <button data-test-id="cy-trigger-indicator" (click)="triggerLoadingIndicator()">
    START LOADING
  </button>
</section>
<hr>
<section class="multi-trigger">
  <div>
    <label>
      Add multiple loaders (ms):
      <input type="number" step="1000" [formControl]="control1">
    </label>
    <br>
    <button data-test-id="cy-add-loader" (click)="addToMultiTrigger(control1.value)">
      ADD LOADER
    </button>
    <button data-test-id="cy-start-multiple-loading" (click)="triggerMultipleLoadingIndicators()">
      START MULTIPLE LOADING
    </button>
  </div>
  <br>
  <div>
    <button data-test-id="cy-clear-loaders" (click)="clearMultiTrigger()">
      CLEAR LOADERS
    </button>
    <br>
    <ng-container *ngFor="let timeout of multiTrigger; let i = index">
      <span [attr.data-test-id]="'loader text ' + (i + 1) ">
       {{ i + 1 }}. loading-indicator stars for {{timeout}} ms.
      </span>
      <br>
    </ng-container>
  </div>
</section>
<router-outlet></router-outlet>
